.banner {
    width: 100%;
    height: 20rem;
    border: 1px solid white;
    margin-bottom: 3rem;
}

.info {
    padding: 10px;
    width: 100%;
    height: 25rem;
    border: 1px solid white;
    margin-bottom: 2rem;
}

.wbtn {
    text-align: center;
    padding: 30px;
    border: 1px solid white;
}

.wb {
    border: 2px solid white;
    border-radius: 15px;
    padding: 30px;
    background-color: #23204976;
}

.wc {
    font-style: italic;
}

.jimg {
    width: 100%;
    height: auto;
}